body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

#reader-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#reader {
    width: 300px;
    height: 300px;
    margin: auto;
}

#result {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#validation-image {
    margin: 20px auto;
    width: 150px;
    height: 150px;
}
